.timeline-container {
  display: flex;
  justify-content: space-between;
  align-items: self-start;
  margin: 1rem auto 0;
  max-width: 960px;

  .timeline-list {
    flex: auto;
    max-width: 700px;
    background-color: #fff;

    &__header {
      border-bottom: 1px solid hsla(0deg, 0%, 59.2%, 10%);
      padding: 1.3rem 1rem;

      .nav-item {
        border-right: 1px solid hsla(0deg, 0%, 59.2%, 20%);
        padding: 0 1.2rem;
        font-size: 1.16rem;
        color: #909090;
        transition: all .3s ease;

        &:hover {
          color: #007fff;
        }

        &--active {
          color: #007fff;
        }

        &:last-of-type {
          border-right: 0;
        }
      }
    }
  }

  .timeline-sidebar {
    max-width: 240px;

    &__box {
      margin-top: 0;
      padding: 1rem;
      background-color: #fff;
    }

    &__footer {
      color: #9aa3ab;
    }
  }
}
