.menu {
  position: sticky;
  top: 0;
  margin-bottom: 1rem;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 960px;
    height: 45px;
  }

  &__item {
    padding: 0 1rem;
    font-size: 1.16rem;
    color: #71777c;

    &:hover {
      color: #007fff;
    }

    &--active {
      color: #007fff;
    }
  }
}
