.timeline-article {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  border-bottom: 1px solid #e5e6eb;
  padding: 8px 20px;
  height: 140px;
  color: #86909c;
  cursor: pointer;
  flex-direction: column;

  &__meta {
    .meta-item {
      border-right: 1px solid hsla(0deg, 0%, 59.2%, 20%);
      padding: 0 .8rem;
      font-size: 13px;
      transition: all .2s ease;
    }

    .meta__author {
      padding-left: 0;
      color: #4e5969;

      &:hover {
        color: #007fff;
      }
    }

    .meta__category {
      border-right: 0;

      .category-dot {
        padding: 0 .5rem;
        color: #1d2129;
      }

      .category-item :hover {
        color: #007fff;
      }
    }
  }

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @mixin webkit-box-oneline {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .article-item__title {

      @include webkit-box-oneline;

      margin: 0 0 5px;
      font-size: 16px;
      font-weight: 700;
      color: #1d2129;
      line-height: 24px;
    }

    .article-item__brief {

      @include webkit-box-oneline;

      font-size: 13px;
      color: #86909c;
      line-height: 22px;
    }

    .article-item__cover {
      flex: 0 0 auto;
      margin-left: 20px;
      width: 120px;
      height: 80px;
      object-fit: cover;
    }
  }

  &__action {
    .action-item {
      display: inline-flex;
      justify-content: center;
      align-content: center;
      padding: 0 .5rem;
      font-size: 13px;

      span {
        margin-left: 4px;
      }

      &:first-of-type {
        padding-left: 0;
      }
    }

    .action__comments,
    .action__likes {
      transition: all .3s ease;

      &:hover {
        color: #007fff;
      }
    }
  }
}
