.sub-menu {
  &__item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem 1rem 0;
    border-radius: 1rem;
    padding: 0 .9rem;
    height: 2rem;
    font-size: 1.1rem;
    color: #8a9aa9;
    background-color: #fff;

    &:hover {
      color: #5293ff;
    }

    &--active {
      color: #fff !important;
      background-color: #007fff;
    }
  }
}
