/* stylelint-disable selector-class-pattern */

/* From Juejin */
html {
  font-size: 12px;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif,
    BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial;
  word-break: break-word;
  text-rendering: optimizeLegibility;
  color: #333;
  background-color: #f4f5f5;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
}

input {
  border: none;
  outline: none;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
}

@media (max-width: 1300px) {
  /* hidden article Sidebar */
  .article-sidebar {
    display: none;
  }

  /* make main article center */
  .article-container {
    justify-content: center;

    .article-main {
      margin: 0 8px;

      .article-content {
        max-width: calc(100vw - 5.4rem - 20px);
      }
    }
  }

  .article-comments {
    margin: 20px 8px 0;
  }
}

@media (max-width: 1068px) {
  .main-header {
    .list-left__item {
      display: none;

      &:first-of-type {
        display: block;
      }
    }
  }

  .menu__inner {
    width: 100%;
  }

  .timeline-sidebar {
    display: none;
  }

  .timeline {
    justify-content: center;
    margin: 0 5px;
  }

  .comment-item__author-desc {
    max-width: 90px;
  }

  .comment-item__name {
    max-width: 90px;
  }
}

@media (max-width: 700px) {
  .main-header {
    .list-right .button {
      &__add {
        display: none;
      }

      &__login {
        color: #fff;
        background-color: #1d7dfa;
      }
    }

    .logo {
      display: none;

      &-mobile {
        display: block;
      }
    }
  }
}

@media (max-width: 448px) {
  .main-header {
    .search {
      display: none;
    }
  }
}
